@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "helpers/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  margin-top: 140px;
}

.sticky {
  position: sticky;
  top: 0;
}

p.MuiFormHelperText-root {
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}

.MuiFormControlLabel-root {
  .MuiSvgIcon-root {
    path {
     color: #D0CFCF;
   }
  }
  .Mui-checked {
    .MuiSvgIcon-root {
      path {
        color: $blue;
      }
    }
  }
}

label.MuiFormLabel-root.Mui-focused {
  color: $black;
}

div.MuiTooltip-tooltip {
  background-color: $black;
}